*{
  margin:0;
  padding:0;
}
a{text-decoration:none;}
ol,ul{
  list-style:none;
}
.clearfix::after{
  content:'';
  display:block;
  clear:both;
}
.logo{
  float:left;
  color:white;
  font-size:15px;
  text-decoration:none;
  margin: 10px 17px;
  font-weight:bold;
  text-transform: uppercase;
}
.topnavbar{
  float:right;
  z-index:1;
}
.navli{
  float:left;
  margin: 10px 17px;
  list-style:none;
}
.nava{
  font-size:15px;
  color:white;
  text-decoration:none;
  font-weight:bold;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding-bottom:5px;
  display:block;
}

.nava:hover{
  border-bottom: 3px solid #e06567;
}

.banner{
  background-image:url('https://cdn.dribbble.com/users/1821976/screenshots/5749066/shot-cropped-1545818793041.png');
  height:500px;
  background-position:center;
  background-size:cover;
}

.mask{
  height:500px;
  background:white;
  opacity:0.4;
  z-index:-1;
  pointer-events: none;
}
.userCard{
  max-width:940px;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  margin-top: -340px;
  animation: slideIn 1s forwards cubic-bezier(0.97,-0.03, 0.34, 0.98);
}

@keyframes slideIn {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
     opacity: 1;
  }
}
.userCard .welcome{
  background:#E6686A;
  color:white;
  display:inline-block;
  padding: 4px 16px;
  line-height:22px;
  position:relative;
  margin-bottom:26px;
}
.triangle{
  display:block;
  border:10px solid transparent;
  width:0px;
  border-left-color:#E6686A;
  border-top-width:0px;
  position:absolute;
  top:99%;
  left:4px;
}

.userCard .picture{
  float:left;
}
.userCard .text{
  float:left;
  margin-left:65px;
  width:450px;
}

.pictureAndText{
  padding:50px;
  background-color:white;
}

.im{
  display:inline;
  margin-right:10px;
}
h1{
  color:#744C42;
  letter-spacing:0.02em;
}

.pp{
  margin-top:16px;
  letter-spacing:0.02em;
}

hr{
  height:0;
  border:none;
  border-top:1px solid #dedede;
  margin:20px 0;
}

.userCard dl dt,
.userCard dl dd{
  float:left;
  padding:5px 0;
}

.userCard dl dt{
  width:30%;
  font-weight:bold;
  color:#744C42;
}
.userCard dl dd{
  width:70%;
  color:#9da0a7;
}
footer.media{
  background-color:#E6686A;
  text-align:center;
  margin-top:-40px;
}
  .icon {
   width: 20px; height: 20px;
   vertical-align: -0.15em;
   fill: white;
   overflow: hidden;
   vertical-align:top;
   margin:10px 26px;
    }

footer.media a{
  text-decoration:none;
  display:inline-block;
  width:70px;
  line-height:30px;
  padding: 14px 0;
  border-radius:50%;
}

footer.media a:hover{
  background:#ee9293;
}
.downloadResume-wrapper{
  text-align:center;
}
.downloadResume{
  font-size:14px;
  line-height:16px;
  padding:21px 55px;
  display:inline-block;
  border:1px solid #CDCFD1;
  border-radius:2px;
  letter-spacing:0.05em;
  color:#3d4451;
  font-weight:bold;
  margin:32px 0;
  transition:box-shadow 0.3s;
}
.downloadResume:hover {
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}
.selfIntroduction{
  max-width:940px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font-size:18px;
  color:#7C7C7C;
  line-height:1.8em;
  font-weight: 30;
}
.centerpic{
    background-image:url(https://cdn.dribbble.com/users/873394/screenshots/3670182/fish-animation.gif);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.skills,
section.portfolio{
  max-width:940px;
  margin:60px auto;
}
section.skills h2,
section.portfolio h2{
  text-align:center;
  color: #7C7C79;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom:10px;
}

section.skills ol{
  background:white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  padding:42px 50px 10px;
}
section.skills ol li{
  float:left;
  width:48%;
  box-sizing:border-box;
}
section.skills ol li:nth-child(even){
  float:right;
}
section.skills .progressBar{
  height:5px;
  background-color:#FAE1E1;
  border-radius:2px;
  margin:7px 0 40px ;
}
section.skills .progress{
  height:100%;
  background:#E6686A;
  border-radius:2px;
}

h3{
  font-weight:normal;
  color: #7C7C79;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
}
section.portfolio{
  text-align:center;
  margin-bottom:100px;
}
section.portfolio nav {
  text-align:top;
display:inline-block;   /*收缩宽度 */
  margin-bottom:32px;
}
section.portfolio nav ol{
  margin:0 auto;
  display:inline-block;
  vertical-align:top;
}
section.portfolio nav ol li{
  float:left;
  margin-left:40px;
  color: #36383D;
  line-height: 1.2;
  font-weight: 600;
  cursor:pointer;
}

section.portfolio nav ol li:first-child{
  margin-left:0;
}

.bar{
  height:5px;
  background:white;
  border-radius:2px;
}
.bar-inner{
  height:100%;
  background:#E6686A;
  width:11%;
  border-radius:2px;
  transition: all 0.3s;
}

.bar.state-1 .bar-inner{
  margin-left:0px;
  width:11%;
}
.bar.state-2 .bar-inner{
  margin-left:70px;
  width:34%;
}
.bar.state-3 .bar-inner{
  margin-left:210px;
  width:34%;
}


.work{
  transition:box-shadow 0.3s;
  margin:40px auto;
  display:inline-block;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

.work:hover{
  box-shadow: 0px 14px 13px 1px rgba(0, 0, 0, 0.2);

}
.wp{
  opacity:0;
  font-size:18px;
  color:#595A5E；
}
.work1:hover ~ .wp1{
  opacity:1;
  transform: translateY(-50%);
}
.work2:hover ~ .wp2{
  opacity:1;
  transform: translateY(-50%);
}
.work3:hover ~ .wp3{
  opacity:1;
  transform: translateY(-50%);
}
